<div class="modal fade" tabindex="-1" role="dialog" id="randomJoke">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="card">
        <ng-container *ngIf="!loading">
          <div class="row mt-2">
            <div class="col-md-12 pt-3">
              <img
                [src]="joke?.icon_url"
                class="rounded mx-auto d-block img-thumbnail"
              />
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-12 text-center">
              {{joke?.value}}
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="loading">
          <app-loading></app-loading>
        </ng-container>
      </div>
    </div>
  </div>
</div>
